extends layout

include _includes/sharedHTMLfunctions

block content
  script(src='https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=9j980t60f1')
  .row.page-header
    .col-lg-12
      h1= location.name
  .row
    .col-xs-12.col-md-9
      .row
        .col-xs-12.col-sm-6
          p.rating
            +outputRating(location.rating)
          p= location.address
          .panel.panel-primary
          .panel-heading
            h2.panel-title 영업시간
          .panel-body
            each time in openingTimes
              p  #{time.days} : 
                if time.closed
                  | clesed
                else
                  | #{time.closing} - #{time.opening}
          .panel.panel-primary
          .panel-heading
            h2.panel-title 제공
          .panel-body
            each facility in location.facilities
              span.label
                span.glyphicon.glyphicon-ok
                | &nbsp;#{facility} 
              | &nbsp;
        .col-xs-12.col-sm-6.location-map
          .panel.panel.primary
            .panel-heading
              h2.panel-title 위치
              .penel-body
                div#map(style="width:100%;height:300px;")
  .row 
    .col-xs-12
      .panel.penel-primary.review-panel
        .penel-heading
          a.btn.pull-right.writeReviewBtn(href='/location/review/new') 리뷰작성
          h2.panel-title 방문자 리뷰
        .penel-body.review-container
          each review in reviews
            .row
              .review
                .well.well-sm.review-header
                  span.rating
                    +outputRating(review.rating)
                  span.reviewAuthor= review.author 
                  small.reviewTimestamp= review.timestamp
                .col-xs-12
                  p= review.reviewText
      .col-xs-12.col-md-3
        p.lead= sidebar
    script(src="/javascripts/map.js" lat="#{location.coords.lat}" lng="#{location.coords.lng}")